.container
{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
}
form
{
	position: relative;
}
input
{
	border: .5px solid #000000;
	display: table;
	margin-top: 8px;
}
.send
{
	position: relative;
	float: right;
}
.clear
{
	clear: both;
}