.container
{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
}
form
{
	position: relative;
}
input
{
	border: .5px solid #000000;
	display: table;
	margin-top: 8px;
}
.send
{
	position: relative;
	float: right;
}
.clear
{
	clear: both;
}
input[type="button" i]:hover , input[type="submit" i]:hover
{
	cursor: pointer;
}

.modal
{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	background-color: #4d4d4d;
}
.containerModal
{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	display: none;
	background-color: rgba(0,0,0,.5)
}
textarea
{
	display: block;
}
.single_prod:hover
{
	cursor:pointer;
}